<div class="central-meta">
  <div class="new-postbox">
    <figure>
      <img src="{{dp}}" alt="" />
    </figure>
    <div class="newpst-input">
      <form method="post" action="/post/new_post" enctype="multipart/form-data">
        <textarea rows="2" name="postContent" placeholder="What's on your mind"></textarea>
        <div class="attachments">
          <ul>
            <li>
              <i style="font-size: larger;" class="fa fa-image"></i>
              <label class="fileContainer">
                <input type="file" name="file" />
              </label>
            </li>
            <li>
              <button type="submit">Post</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>