<div class="widget friend-list stick-widget">
    <h4 class="widget-title">Friends</h4>
    <div id="searchDir"></div>
    <ul id="people-list" class="friendz-list">
        <li>
            <figure>
                <img src="images/resources/friend-avatar.jpg" alt="" />
                <span class="status f-online"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">bucky barnes</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__"
                        data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            <figure>
                <img src="images/resources/friend-avatar2.jpg" alt="" />
                <span class="status f-away"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">Sarah Loren</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__"
                        data-cfemail="b4d6d5c6dad1c7f4d3d9d5ddd89ad7dbd9">[email&#160;protected]</a></i>
            </div>
        </li>
    </ul>
</div>