<div class="widget">
    <h4 class="widget-title">Your page</h4>
    <div class="your-page">
        <figure>
            <a href="/profile" title=""><img src="{{dp}}" alt="dp" /></a>
        </figure>
        <div class="page-meta">
            <a href="/profile" title="" class="underline">{{name}}</a>
            <span><i class="ti-comment"></i><a href="#" title="">Messages <em>9</em></a></span>
            <span><i class="ti-bell"></i><a href="#" title="">Notifications <em>2</em></a></span>
        </div>
        <div class="page-likes">
            <ul class="nav nav-tabs likes-btn">
                <li class="nav-item">
                    <a class="active" href="#link1" data-toggle="tab">likes</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#link2" data-toggle="tab">views</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {{!-- <div class="tab-pane active fade show" id="link1">
                    <span><i class="ti-heart"></i>884</span>
                    <a href="#" title="weekly-likes">35 new likes this week</a>
                    <div class="users-thumb-list">
                        <a href="#" title="Anderw" data-toggle="tooltip">
                            <img src="images/resources/userlist-1.jpg" alt="" />
                        </a>
                        <a href="#" title="frank" data-toggle="tooltip">
                            <img src="images/resources/userlist-2.jpg" alt="" />
                        </a>
                    </div>
                </div> --}}
                <div class="tab-pane fade" id="link2">
                    <span><i class="ti-eye"></i>440</span>
                    <a href="#" title="weekly-likes">440 new views this week</a>
                    <div class="users-thumb-list">
                        <a href="#" title="Anderw" data-toggle="tooltip">
                            <img src="images/resources/userlist-1.jpg" alt="" />
                        </a>
                        <a href="#" title="frank" data-toggle="tooltip">
                            <img src="images/resources/userlist-2.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>