<div class="log-reg-area reg">
    <h2 class="log-title">Register</h2>
    <p>
        Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join
            now</a>
    </p>
    {{>msg}}
    <form method="post" id="registrationForm">
        <div class="form-group">
            <input type="text" name="fullname" id="fullname" required="required" value="{{fullname}}"/>
            <label class="control-label" for="input">Fullname</label><i class="mtrl-select"></i>
        </div>
        <div class="form-group">
            <input type="text" name="username" id="username" required="required" value="{{username}}" />
            <label class="control-label" for="input">User Name</label><i class="mtrl-select"></i>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" required="required" value="{{password}}" />
            <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
        </div>
        <div class="form-radio">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="none" /><i class="check-box"></i>None
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="male" /><i class="check-box"></i>Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="female" /><i class="check-box"></i>Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="email" name="email" id="email" required="required" value="{{email}}" />
            <label class="control-label" for="input">
                Email Address
            </label><i class="mtrl-select"></i>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="terms" id="terms" /><i class="check-box"></i>Accept
                Terms &
                Conditions ?
            </label>
        </div>
        <a href="/login" title="" class="already-have">Already have an account</a>
        <div class="submit-btns">
            {{!-- <button class="mtr-btn signup" type="submit"><span>Register</span></button> --}}
            <button class="mtr-btn signin" type="submit"><span>Register</span></button>
        </div>
    </form>
</div>